[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-cors-headers = "*"
django-mptt = "*"
django-rest-framework = "*"
django-cryptography = "*"
jinja2 = "*"
boto3 = "*"
django-rest-knox = "*"

[dev-packages]

[requires]
python_version = "3.10"
